#cliento-booking #cb-loading {
  float: right;
  position: relative;
  margin-right: 20px;
  margin-top: 10px;
}
#cliento-booking #cb-content {
  min-height: 100px;
  overflow: hidden;
}
#cliento-booking #cb-expand {
  background: linear-gradient(transparent, white);
  padding-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
#cliento-booking #cb-expand .cb-button {
  padding: 5px 20px;
}
#cliento-booking #cb-logo {
  margin-top: 20px;
  text-align: center;
}
#cliento-booking #cb-logo img {
  border: 0;
}
#cliento-booking h1,
#cliento-booking h2,
#cliento-booking h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
#cliento-booking p {
  margin-bottom: 10px;
}
#cliento-booking .cb-error {
  color: #fff;
  background: #e45e59;
  padding: 10px;
  text-align: center;
  font-style: italic;
}
#cliento-booking .text-left {
  text-align: left;
}
#cliento-booking .text-right {
  text-align: right;
}
#cliento-booking .text-center {
  text-align: center;
}
#cliento-booking .text-justify {
  text-align: justify;
}
#cliento-booking .text-nowrap {
  white-space: nowrap;
}
#cliento-booking .text-muted {
  color: #777777;
  font-weight: normal;
}
#cliento-booking .pull-right {
  float: right !important;
}
#cliento-booking .pull-left {
  float: left !important;
}
#cliento-booking .hide {
  display: none !important;
}
#cliento-booking .show {
  display: block !important;
}

.cb-button {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  text-decoration: none !important;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-family: inherit;
  font-size: inherit;
  background-color: #e99002;
  border-color: #d08002;
}
.cb-button,
.cb-button:link,
.cb-button:visited {
  color: #fff !important;
}
.cb-button:hover,
.cb-button:focus {
  color: #fff !important;
  background-color: #c17702;
  border-color: #935b01;
}
.cb-button:active,
.cb-button.active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.cb-button.disabled,
.cb-button[disabled],
fieldset[disabled] .cb-button {
  opacity: 0.5;
  filter: alpha(opacity=50);
  box-shadow: none;
  pointer-events: none;
}

#cb-calendar-days {
  width: 100%;
  overflow: auto;
}
#cb-calendar-days .header {
  padding: 5px;
  margin: 10px 1px;
  font-weight: bold;
  text-align: center;
  background: #f5f5f5;
}
#cb-calendar-days .cb-calendar-days-empty {
  text-align: center;
  font-style: italic;
  font-size: 1em;
  padding: 10px;
  margin-top: 20px;
  color: #777777;
}
#cb-calendar-days .cb-calendar-day-empty {
  font-style: italic;
  padding: 0 10px;
  color: #777777;
}
#cb-calendar-days .cb-calendar-day {
  float: none;
  position: relative;
  display: table-cell;
  width: 1%;
}
#cb-calendar-days .cb-calendar-day .cb-button {
  display: block;
  padding: 5px;
  margin: 2px 1px;
}

#cb-confirmation-list p {
  display: block;
}
#cb-confirmation-list p strong {
  display: inline-block;
  width: 150px;
}
#cb-confirmation-list p span {
  display: inline-block;
  min-width: 100px;
  width: 60%;
}

.cb-label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
  max-width: 100%;
}
.cb-input {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  padding: 5px 10px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #eeeeee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.cb-input:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.cb-input[disabled],
.cb-input[readonly],
fieldset[disabled] .cb-input {
  background-color: #f5f5f5;
  opacity: 1;
}

div.cb-list {
  margin-bottom: 20px;
}
div.cb-list div.cb-list-item {
  padding: 10px;
  border-top: 1px solid #eeeeee;
  box-sizing: border-box;
  overflow: auto;
  width: 100%;
}
div.cb-list div.cb-list-item:hover,
div.cb-list div.cb-list-item:focus {
  background-color: #f5f5f5;
}
div.cb-list div.cb-list-item.active,
div.cb-list div.cb-list-item.active:hover,
div.cb-list div.cb-list-item.active:focus {
  background-color: #f5f5f5;
}
div.cb-list div.cb-list-item .block {
  float: left;
  padding: 5px 0;
  width: 20%;
}
div.cb-list div.cb-list-item .block:nth-of-type(1) {
  width: 60%;
}
div.cb-list div.cb-list-item .block span {
  font-style: italic;
}
div.cb-list div.cb-list-item .block span + span:before {
  color: #777777;
  padding: 0 5px;
  content: ' / ';
}
@media (max-width: 450px) {
  div.cb-list div.cb-list-item .block {
    float: none;
    width: auto;
  }
}
div.cb-list div.cb-list-item p {
  float: none;
  clear: both;
  font-size: small;
  padding: 5px 0 0 0;
  margin: 0;
}
div.cb-list div.cb-list-item .cb-button {
  padding: 5px 20px;
}


#cb-navigation ul.cb-navigation {
  padding-left: 0;
  margin-bottom: 20px;
  list-style: none;
}
#cb-navigation ul.cb-navigation li {
  display: inline-block;
}
#cb-navigation ul.cb-navigation li + li:not(.active):before {
  content: '>';
  padding: 0 5px;
  color: #777777;
}
#cb-navigation ul.cb-navigation .active {
  display: block;
  font-size: 28px;
  margin-top: 20px;
  color: #333;
  font-weight: bold;
}
#cb-navigation ul.cb-navigation .next {
  display: none;
}
#cb-navigation div.cb-summary {
  margin-bottom: 20px;
}
#cb-navigation div.cb-summary span {
  font-style: italic;
}
#cb-navigation div.cb-summary span + span:before {
  color: #777777;
  padding: 0 5px;
  content: '-';
}