html.sticky-footer #layout-footer {
    background-color: #333;
    padding: 20px;
}

html.sticky-footer #layout-footer hr {
    display: none;
}

html.sticky-footer #layout-footer * {
    color:  #fff;
}

html.sticky-footer #layout-footer em {
    color:  #888;
}